*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'inter', sans-serif;
}
body{
    margin: 0;
    padding: 0;
}
body::-webkit-scrollbar{
    display: none;
}

a{
    text-decoration: none;
}

.wrapper{
    width: 100%;
}

.wrapper .nav1{
    height: 50px;
    background: #41B3A3;
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding: 0 6%;
    color: white;
}

.wrapper .nav1 span{
    display: flex;
    justify-content: left;
    align-items: center;
}

.wrapper .nav1 span h3{
    font-size: 18px;
    font-weight: 300;
}

.wrapper .nav1 span i{
    color: white;
    font-weight: 600;
    font-size: 18px;
    margin-left: 15px;
}

.wrapper .nav1 span .phone{
    color: white;
    font-weight: 600;
    font-size: 18px;
    margin-left: 15px;
}

.wrapper .nav{
    border-top: solid 0.6px #c0c0c0;
    display: flex;
    height: 80px;
    width: 100%;
    padding: 0 6%;
    justify-content: space-between;
    align-items: center;
    background: #41B3A3;
}

.wrapper .nav span{
    display: flex;
    justify-content: left;
    align-items: center;
    height: 100%;
}

.wrapper .nav span img{
    height: 45px;
    width: 45px;
    margin-right: 15px;
}

.wrapper .nav span a{
    color: white;
    font-size: 30px;
    font-weight: 800;
}

.wrapper .nav form{
    display: flex;
    border: none 1px white;
    justify-content: space-between;
    align-items: center;
    width: 500px;
    padding: 0 1.5% ;
    border-radius: 3px;
    background: rgb(255, 255, 255, 0.5);
    box-shadow: 0px 0px 4px rgb(224, 255, 255, 0.6);
    border: solid 0.6px rgb(255, 255, 255, 0.3);
}

.wrapper .nav form input{
    background: transparent;
    border: none;
    outline: none;
    width: 95%;
    height: 40px;
}

.wrapper .nav form input::-webkit-search-cancel-button{
    display: none;
}

.wrapper .nav form input::placeholder{
    color: rgb(255, 255, 255, 1);
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
}

.wrapper .nav form button{
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    border: none;
}

.wrapper .nav form button i{
    color: rgb(255, 255, 255, 1);
    font-weight: 600;
    font-size: 18px;
    cursor: pointer;
}


.wrapper .mainnav{
    width: 100%;
    height: 60px;
    
    box-shadow: 0px 3px 4px rgb(128, 128, 128, 0.3);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 0 6%;
    position: sticky;
    top: 0;
    z-index: 1;
}

.wrapper .mainnav span{
    display: flex;
    justify-content: left;
    align-items: center;
    height: 100%;
}

.wrapper .mainnav .on{
    border-bottom: solid 2px rgb(0, 0, 0, 0.8);
    font-weight: bold;
}

.wrapper .mainnav a{
    padding: 0 15px;
    color: rgb(0, 0, 0, 0.8);
    font-size: 18px;
    display: flex;
    align-items: center;
    height: 100%;
    transition: 300ms;
}

.wrapper .mainnav a:hover{
    background: rgb(192, 192, 192, 0.3);
    border-bottom: solid 4px rgb(0, 0, 0, 0.8);
}

.wrapper .mainnav .i1{
    display: none;
}

.wrapper .mainnav span .icon{
    padding: 0 20px;
}

.wrapper .section1{
    width: 100%; 
    padding: 0 6%;
}

.wrapper .section1 .background{
    border:  2px gray;
    position: absolute;
    left: 60%;
    margin-top: 5%;
}

.wrapper .section1 .background img{
    height: 390px;
    width: 390px;
    opacity: 0.9;
}

.wrapper .section1 .main{
    width: 100%;
    height: 450px;
    flex-direction: column;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;
    /* border: solid 1px; */
}

.wrapper .section1 .main span{
    margin: auto auto auto 0;
    height: fit-content;
}

.wrapper .section1 .main span h1{
    font-size: 44px;
    margin-bottom: 10px;
}

.wrapper .section1 .main span h3{
    font-weight: 600;
    font-size: 21px;
    letter-spacing: 0.2px;
    line-height: 26px;
}

.wrapper .section1 .main span h3 .Greener{
    color: #41B3A3;
    font-weight: 800;
}

.wrapper .section1 .main span .text {
    margin-top: 3%;
    font-size: 19px;
}


.wrapper .section1 .main span .text a{
    color: #41B3A3;
    text-decoration: underline;
}


.wrapper .section1 .main span .button{
    color: white;
    font-size: 20px;
    font-weight: 600;
    margin-top: 6%;
    display: flex;
    align-items: center;
    height: 55px;
    width: 180px;
    padding: 0 15px;
    background: #41B3A3;
    transition: 300ms;
    justify-content: space-between;
}

.wrapper .section1 .main span .button:hover{
    color: white;
    font-size: 18px;
    font-weight: 500;
    height: 60px;
    width: 190px;
    background: #41B3A3;
}

.wrapper .section1 .main span .button i{
    color: white;
    font-weight: 500;
    margin-left: 10px;
    transition: 300ms;
}


.wrapper .section1 .main span .button i:hover{
    margin-left: 15px;
}

.wrapper .section2{
    width: 100%;
    /* height: 600px; */
    /* border-top: solid 0.4px #41B3A3; */
    position: relative;
    margin-top: 0%;
}

.wrapper .section2 .main{
    
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 93%;
    padding: 5% 0;
    justify-content: space-between;
}

.wrapper .section2 .main .a1{

}

.wrapper .section2 .main .a2{
    display: none;
    margin-top: 5%;
}

.wrapper .section2 .main .f1{
    display: flex; justify-content: space-between;
    width: 100%;
}

.wrapper .section2 .main a{
    border: solid 0.8px rgb(192, 192, 192, 0.6);
    width: 340px;
    height: 400px;
    border-radius: 3px;
    transition: 300ms;
    padding: 15px 0 30px 0;
    margin: 0 auto 0 auto;
    box-shadow: 0 0 15px rgb(0, 0, 0, 0.1);
}

.wrapper .section2 .main a:hover{
    box-shadow: 0 0 50px rgb(0, 0, 0, 0.2);
}

.wrapper .section2 .main a .img{
    height: 50%;
    width: 100%;
    margin-bottom: 13px;
    border:  gray;
    background-image: url(6859464.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.wrapper .section2 .main a .text{
    height: 50%;
    /* border: solid gray; */
    width: 100%;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.wrapper .section2 .main a .text h3{
    width: 100%;
    height: fit-content;
    text-align: center;
    color: rgb(0, 0, 0, 0.8);
    margin-bottom: 10px;
}

.wrapper .section2 .main a .text p{
    margin: 0 auto;
    width: 85%;
    height: fit-content;
    text-align: center;
    color: rgb(0, 0, 0, 0.8);
    margin-bottom: 0;
}

.wrapper .section2 .main a .text h2{
    margin: 0 auto;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    height: fit-content;
    padding: 10px 18px;
    color: white;
    background-color: #41B3A3;
    text-align: center;
    margin-top: 5%;
    border: solid 1px;
    transition: 300ms;
}

.wrapper .section2 .main a .text h2:hover{
    background-color: #359488;
    padding: 10px 20px;
}

.wrapper .section2 .main a .text i{
    margin-left: 10px;
    transition: 300ms;
}

.wrapper .section2 .main a .text i:hover{
    margin-left: 16px;
}

.wrapper .section2 .main a .text span{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: fit-content;
}

.wrapper .section2 .main a .text span h3{
    width: fit-content;
    height: 100%;
    display: flex;
    align-items: center;
    margin-top: 3px;
}

.wrapper .section2 .main a .text span img{
    width: 23px;
    height: 23px;
    margin-left: 5px;
}

.wrapper .section .main .cover{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 8%;
}

.wrapper .section .main .cover h1{
    font-family: 'Roboto', sans-serif;
    border-bottom: solid 3px #41B3A3;
}

.wrapper .section3{
    width: 100%;
    padding: 3% 0;
}

.wrapper .section3 .main{
    /* border: 1px solid silver; */
    margin: 0 auto;
    width: 86%;
    
}

.wrapper .section3 .main .reviews{
    display: flex;
    flex-direction: column;
    width: 100%;
    /* overflow: auto; */
}

.wrapper .section3 .main .reviews .flex{
    display: flex;
    justify-content: space-between;
    /* width: 100%; */
    align-items: center;
    margin-bottom: 5%;
}

.wrapper .section3 .main .reviews .flex .span{
    border: 1px solid silver;
    width: 350px ;
    height: 320px;
    box-shadow: 1px 1px 2px rgb(0, 0, 0, 0.8);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
}

.wrapper .section3 .main .reviews .span .image{
    position: absolute; margin: auto; width: 30%; height: 30%; background-image: url(left-quote.png); opacity: 0.4; background-size: contain; background-position: center; background-repeat: no-repeat; rotate: 180deg; margin-bottom: 20%;
}

.wrapper .section3 .main .reviews .span .text{
    width: 100%;
    height: 100%;
    position: relative;
}

.wrapper .section3 .main .reviews .span .text .icons{
    width: 100%;
    height: fit-content;
    margin: 10% 0 0% 0;
    display: flex;
    justify-content: center;
    color: #41B3A3;
    /* border: solid 1px; */
}

.wrapper .section3 .main .reviews .span .text .icons i{
    margin-right: 5px;
}

.wrapper .section3 .main .reviews .span .text .h3{
    width: 90%;
    height: fit-content;
    font-weight: 300;
    margin: 6% auto auto auto;
    display: flex;
    justify-content: center;
    text-align: center;
}

.wrapper .section3 .main .reviews .span .text .h3 h3{
    width: 100%;
    height: fit-content;
    font-weight: 500;
    font-size: 16px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    text-align: center;
    color: rgb(0, 0, 0, 0.8);
}

.wrapper .section3 .main .reviews .span .text .profile{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 6%;
    /* border: solid 1px; */
}

.wrapper .section3 .main .reviews .text .profile img{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    margin: 0 auto;
    margin-top: auto;
    margin-bottom: 2.5%;
}

.wrapper .section3 .main .reviews .text .profile h4{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: auto;
    margin: 0 auto;
    font-weight: 400;
}













@media screen and (max-width: 1000px) {
    .wrapper .section1 .background{
        border:  2px gray;
        position: absolute;
        left: 55%;
        margin-top: 5%;
    }
    
    .wrapper .section1 .background img{
        height: 390px;
        width: 390px;
        opacity: 0.6;
    }

    .wrapper .section2{
        width: 100%;
        /* height: 600px; */
        position: relative;
        margin-top: 3%;
    }
    
    .wrapper .section2 .main{
        
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        width: 90%;
        padding: 5% 0;
        justify-content: space-between;
    }
    
    .wrapper .section2 .main .a1{
        display: none;
    }
    
    .wrapper .section2 .main .a2{
        display: block;
    }
    
    .wrapper .section3 .main{
        /* border: 1px solid silver; */
        margin: 0 auto;
        width: 100%;
        
        
    }

    .wrapper .section3 .main .cover{
        margin-bottom: 10% ;
        /* border: solid; */
    }

    .wrapper .section3 .main .reviews{
        /* width: 1000px; */
        overflow-x: auto;
        overflow-y: hidden;
    }

    .wrapper .section3 .main .reviews::-webkit-scrollbar{
        display: none;
    }

    .wrapper .section3 .main .reviews .flex{
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
        
        /* scroll-snap-align: start; */
        width: fit-content;
        overflow-x: auto;
        overflow-y: hidden;
        justify-content: left;
        padding: 20px 10px;
    }



    .wrapper .section3 .main .reviews .flex::-webkit-scrollbar{
        display: none;
    }

    .wrapper .section3 .main .reviews .span .image{
        position: absolute; border:  1px; margin: 20% 30%; width: 40%; height: 40%; background-image: url(left-quote.png); opacity: 0.2; background-size: contain; background-position: center; background-repeat: no-repeat; rotate: 180deg; margin-bottom: 20%;
    }

    .wrapper .section3 .main .reviews .flex .span{
        margin-left: 30px;
        border: none;
        box-shadow: 0px 0px 10px rgb(192, 192, 192, 0.5);
        background: white;
        padding-top: -20px;
        display: block;
        width: 40vw;
        height: 350px;
        scroll-snap-align: start;
    }



}



@media screen and (max-width: 900px) {
    .wrapper .nav1{
        padding: 0 4%;
    }

    .wrapper .nav1 span h3{
        font-size: 16px;
        font-weight: 300;
    }
    
    .wrapper .nav1 span i{
        color: white;
        font-size: 16px;
        margin-left: 15px;
    }

    .wrapper .nav1 span .phone{
        color: white;
        font-weight: 600;
        font-size: 16px;
        margin-left: 15px;
    }

    .wrapper .nav{
        height: 65px;
        padding: 0 4%;
    }

    .wrapper .nav span{
        height: 100%;
    }
    
    .wrapper .nav span img{
        height: 40px;
        width: 35px;
    }
    
    .wrapper .nav span a{
        color: white;
        font-size: 22px;
        font-weight: 600;
    }

    .wrapper .nav form{
        width: 350px;
        padding: 0 1.5% ;
        border-radius: 3px;
        background: rgb(255, 255, 255, 0.5);
    }

    .wrapper .mainnav{
        padding: 0 3%;
    }

    .wrapper .section1{
        width: 100%; 
        padding: 0 3%;
    }

    .wrapper .section1 .background{
        border:  2px gray;
        position: absolute;
        left: 50%;
        margin-top: 5%;
    }
    
    .wrapper .section1 .background img{
        height: 390px;
        width: 390px;
        opacity: 0.6;
    }

}


@media screen and (max-width: 780px) {
    .wrapper .nav1{
        display: none;
    }

    .wrapper .nav{
        height: fit-content;
        padding: 15px 0%;
        flex-direction: column;
    }

    .wrapper .nav span a{
        color: white;
        font-size: 26px;
        font-weight: 600;
    }

    .wrapper .nav form{
        width: 90%;
        padding: 0 3.5% ;
        border-radius: 3px;
        background: rgb(255, 255, 255, 0.5);
        margin-top: 20px;
    }

    .wrapper .mainnav{
       height: 50px;
       padding: 0 3%;
    }

    .wrapper .mainnav .sp1{
        display: none;
    }

    .wrapper .mainnav .i1{
        display: flex;
        justify-content: center;
        align-items: center;
        border: solid 0.8px;
        height: 70%;
        width: 40px;
        padding: 10px -5px;
        border-radius: 5px;
        margin-left: 1%;
    }

    .wrapper .mainnav .i1 a:hover{
        border: none;
    }


    .wrapper .mainnav span .icon{
        padding: 0 10px;
    }

    .wrapper .section1{
        width: 100%; 
        padding: 0 4%;
    }

    .wrapper .section1 .background{
        border:  2px gray;
        position: absolute;
        left: 20%;
        margin-top: 5%;
        filter: blur(10px);
    }
    
    .wrapper .section1 .background img{
        height: 350px;
        width: 350px;
        opacity: 0.3;
    }
}

@media screen and (max-width: 780px) {
    .wrapper .section1 .background{
        border:  2px gray;
        position: absolute;
        width: 100vw;
        margin-left: 0;
        left: 0;
        display: flex;
        justify-content: center;
        margin-top: 5%;
    }
    
    .wrapper .section1 .background img{
        height: 350px;
        width: 350px;
        opacity: 0.3;
    }

    .wrapper .section1 .main{
        width: 100%;
        height: 400px;
        flex-direction: column;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        /* border: solid 1px; */
    }

    .wrapper .section1 .main span{
        /* border: solid 1px; */
        width: 100%;
    }

    .wrapper .section1 .main span h1{
        width: 100%;
        text-align: center;
        justify-content: center;
        margin: 0 auto;
        margin-bottom: 15px;
        font-size: 30px;
        font-weight: 800;
        /* border: solid 1px; */
    }
    
    .wrapper .section1 .main span h3{
        width: 95%;
        text-align: center;
        font-weight: 700;
        font-size: 18px;
        letter-spacing: 0.2px;
        line-height: 26px;
    }

    .wrapper .section1 .main span .text {
        display: none;
    }
    

    .wrapper .section1 .main span .button{
        color: white;
        font-size: 18px;
        font-weight: 500;
        margin: 0 auto;
        margin-top: 10%;
        display: flex;
        align-items: center;
        height: 50px;
        width: 180px;
        padding: 0 15px;
        background: #41B3A3;
        transition: 300ms;
        justify-content: space-between;
    }

    .wrapper .section2 .main{
    
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        width: 98%;
        padding: 0% 0 10% 0;
        justify-content: space-between;
    }
    
    .wrapper .section2 .main .f1{
        display: flex; justify-content: space-between; flex-direction: column;
        margin-top: 0;
    }

    .wrapper .section2 .main a{
        border: solid 0.8px rgb(192, 192, 192, 0.6);
        width: 90%;
        height: 380px;
        border-radius: 3px;
        transition: 300ms;
        padding: 10px 0;
        margin: 15% auto 0 auto;
        box-shadow: 0 0 30px rgb(191, 191, 191, 0.2);
        box-shadow: 0 0 40px rgb(0, 0, 0, 0.1);
    }

    .wrapper .section2 .main .a2{
        border: solid 0.8px rgb(192, 192, 192, 0.6);
        width: 90%;
        height: 380px;
        border-radius: 3px;
        transition: 300ms;
        padding: 10px 0;
        margin: 15% auto 0 auto;
        box-shadow: 0 0 30px rgb(191, 191, 191, 0.2);
        box-shadow: 0 0 40px rgb(0, 0, 0, 0.1);
    }

    .wrapper .section2 .main a .img{
        height: 40%;
        width: 100%;
        margin-bottom: 20px;
        border:  gray;
        background-image: url(6859464.jpg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }

    .wrapper .section2 .main a .text h3{
        width: 100%;
        height: fit-content;
        text-align: center;
        color: rgb(0, 0, 0, 0.8);
        margin-bottom: 10px;
    }

    .wrapper .section2 .main a .text p{
        margin-bottom: 2px;
    }

    .wrapper .section3 .main .reviews .flex{
        scroll-behavior: smooth;
        scroll-snap-type: mandatory;
        scroll-snap-align: start;
    }

    .wrapper .section3 .main .reviews .flex .span{
        margin-left: 12px;
        margin-right: 30px;
        padding-top: -20px;
        display: block;
        width: 60vw;
        height: 340px;
        scroll-snap-align: start;
    }

    .wrapper .section3 .main .reviews .text .profile img{
        width: 90px;
        height: 90px;
        border-radius: 50%;
        margin: 0 auto;
        margin-top: 5%;
        margin-bottom: 2.5%;
    }

}

@media screen and (max-width: 600px) {
    .wrapper .section3 .main .reviews .flex .span{
        padding-top: -20px;
        display: block;
        width: 90vw;
        height: 350px;
        scroll-snap-align: start;
    }
}

footer{
    border: solid 1px;
    width: 100%;
    padding: 30px 0;
    background: #030416;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer .top{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 3% 0 4% 0;
}

footer .top img{
    width: 60px;
    height: 60px;
}

footer .top h1{
    font-weight: 800;
    color: #ffff;
    margin-left: 15px;
}

footer .newsletter{
    display: flex;
    /* flex-direction: column; */
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 0% 0 3% 0;
}

footer .newsletter h3{
    font-weight: 500;
    color: #ffff;
    /* width: 100%;text-align: center; */
}

footer .newsletter form{
    margin-left: 30px;
}

footer .newsletter form input[type=text]{
    height: 50px;
    width: 300px;
    font-size: 16px;
    padding: 0 10px;
}

footer .newsletter form input[type=submit]{
    height: 50px;
    width: 75px;
    /* display: flex; */
    /* text-align: center; */
    justify-content: center;
    font-size: 16px;
    /* padding: 0 10px; */
    color: #ffff;
    background: transparent;
    border: solid #41B3A3; transition: 300ms;
     cursor: pointer;
     margin-left: 10px;
}

footer .newsletter form input[type=submit]:hover{
    color: #ffff;
    border: #359488;
    background: #26685f;
    font-weight: 700;
}

footer .list{
    display: flex;
    /* flex-direction: column; */
    /* border: solid 1px white; */
    width: 80%;
    justify-content: space-between;
    align-items: center;
}

footer .list .span1{
    display: flex;
    justify-content: space-between;
    width: 42%;
}

footer .list .span1 .sp{
    display: flex;
    /* border: solid gold; */
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: 100%;
    max-width: max-content;
}

footer .list .span1 .sp .cover{
    display: flex;
    /* flex-direction: column; */
    /* border: solid 1px white; */
    width: fit-content;
    justify-content: left;
    align-items: center;
    margin-right: auto;
    font-size: 24px;
    color: #41B3A3;
    font-weight: 600;
}

footer .list .span1 .sp .cover:hover{
    font-size: 24px;
    color: #41B3A3;
    font-weight: 700;
}

footer .list .span1 .sp .sub{
    display: flex;
    /* flex-direction: column; */
    /* border: solid 1px white; */
    width: fit-content;
    margin-right: auto;
    justify-content: left;
    align-items: center;
    margin-top: 5px;
    font-size: 16px;
    color: #ffff;
    font-weight: 500;
}

footer .list .span1 .sp .sub:hover{
    margin-top: 5px;
    font-size: 16px;
    color: #ffff;
    font-weight: 700;
}

@media screen and (max-width:1000px) {
    footer .list{
        display: flex;
        /* flex-direction: column; */
        /* border: solid 1px white; */
        width: 85%;
        justify-content: space-between;
        align-items: center;
    }

    footer .list .span1{
        display: flex;
        justify-content: space-between;
        width: 44%;
    }
}

@media screen and (max-width:800px) {
    footer .list{
        display: flex;
        /* flex-direction: column; */
        /* border: solid 1px white; */
        width: 90%;
        justify-content: space-between;
        align-items: center;
    }

    footer .list .span1{
        display: flex;
        justify-content: space-between;
        width: 46%;
    }
}

@media screen and (max-width:700px) {
    footer .list{
        display: flex;
        flex-direction: column;
        /* border: solid 1px white; */
        width: 90%;
        justify-content: space-between;
        align-items: center;
    }

    footer .list .span1{
        display: flex;
        justify-content: space-between;
        width: 44%;
    }

    footer .newsletter{
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
        padding: 20px 0 3% 0;
    }

    footer .newsletter h3{
        font-weight: 500;
        color: #ffff;
        /* width: 100%;text-align: center; */
    }
    
    footer .newsletter form{
        width: 100%;
        margin-top: 10px;
        margin-left: 0;
        display: flex;
        justify-content: center;
    }
    
    footer .newsletter form input[type=text]{
        height: 40px;
        width: 60%;
        font-size: 16px;
        padding: 0 10px;
        border: none;
        background-color: white;
    }

    footer .newsletter form input[type=text]:focus{
        outline: none;
    }
    
    footer .newsletter form input[type=submit]{
        height: 40px;
        width: 75px;
        /* display: flex; */
        /* text-align: center; */
        justify-content: center;
        font-size: 16px;
        /* padding: 0 10px; */
        color: #ffff;
        background: transparent;
        border: solid #41B3A3; transition: 300ms;
         cursor: pointer;
         margin-left: 10px;
    }
    footer .list .span1{
        display: flex;
        justify-content: space-between;
        width: 90%;
        margin-top: 10%;
    }

    footer .list .span1 .sp .cover{
        font-size: 20px;
        color: #41B3A3;
        font-weight: 600;
    }
    
    footer .list .span1 .sp .cover:hover{
        color: #41B3A3;
        font-weight: 700;
    }
    
    footer .list .span1 .sp .sub{
        display: flex;
        /* flex-direction: column; */
        /* border: solid 1px white; */
        width: fit-content;
        margin-right: auto;
        justify-content: left;
        align-items: center;
        margin-top: 5px;
        font-size: 13px;
        color: #ffff;
        font-weight: 500;
    }
}

@media screen and (max-width:300px) {
    footer .list .span1{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 90%;
        margin-top: 10%;
    }
}